# Netlify → Site configuration → Environment variables (same names)

SUPABASE_URL=https://ofvrshuiovefppzcebwl.supabase.co
SUPABASE_SERVICE_ROLE_KEY=sb_publishable_k4fUebzedRKKe26zf1LKrQ_qc7h9H5t
ADMIN_PASSWORD=Pradeep@123soni
